.page-header {
  text-align: center;

  background-color: green;
}

.page-header h1 {
  color: red;
  margin: auto;
  padding: 4rem 0 4rem 0;
}

.page-middle {
  padding: 3rem 0 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.page-lower {
  margin: 0 auto;
}

.page-lower h3 {
  text-align: center;
}