.ingredient-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
  align-items: center;
}

.ingredient-form > * {
  margin: 5px;
  padding: 5px;
}

.search-area h1 {
  text-align: center;
  padding-top: 20px
}

textarea {
  font-size: 1rem;
  font-family: sans-serif;
  color: gray;
  display: block;
}

.ingredient-form button {
  background-color: black;
  border: white solid 1px;
  border-radius: 5%;
  color: white;
  padding: 15px;
  font-family: "DM Serif Display", serif;
}
